.vue_input_base {
  border: 0.5px solid #001b00;
  border-radius: 8px;
  height: 75px;
  line-height: 75px;
  max-width: 55px;
  color: white;
  text-align: center;
  outline: none;
  font-size: 2.5em;
  /* Hide Default text highlighting */
  &::selection {
    background: transparent; /* WebKit/Blink Browsers */
  }

  &::-moz-selection {
    background: transparent; /* Gecko Browsers */
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.vue_input_base_wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}



.codeinputarea {
  width: 335px;
  padding: 160px 0;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position-y: 45px;
}
// middle screen size
@media screen and (max-width: 960px) {
  .codeinputarea {
    width: 100vw;
    height: 100vh;
    padding: 30px 20px;
    box-sizing: border-box;
    background-position-y: 5px;
  }
}

