@font-face {
  font-family: "LED";
  font-weight: 100;
  font-style: normal;
  src: url("./fonts/DigitalDismay.otf");
}

@font-face {
  font-family: "MBS";
  font-weight: 100;
  font-style: normal;
  src: url("./fonts/MaxterBoardSt.ttf");
}

@font-face {
  font-family: "IED";
  font-weight: 100;
  font-style: normal;
  src: url("./fonts/FiraMono-Bold.otf");
}

@font-face {
  font-family: "TLED";
  font-weight: 100;
  font-style: normal;
  src: url("./fonts/Segment7Standard.otf");
}

@font-face {
  font-family: "TLED3";
  font-weight: 100;
  font-style: normal;
  src: url("./fonts/Segment14.otf");
}

@font-face {
  font-family: "LCD7";
  font-weight: 100;
  font-style: normal;
  src: url("./fonts/modern_lcd-7.ttf");
}

@font-face {
  font-family: "RoundEd";
  font-weight: 100;
  font-style: normal;
  src: url("./fonts/Organo.ttf");
}

@font-face {
  font-family: "Playstation3";
  font-weight: 100;
  font-style: normal;
  src: url("./fonts/Slim-Play.ttf");
}

@font-face {
  font-family: "PlaystationX";
  font-weight: 100;
  font-style: normal;
  src: url("./fonts/RaveInYourPans.otf");
}

/*

@font-face {
  font-family: "Isocpeur";
  src: url("./fonts/Isocpeur.ttf");
}*/

@font-face {
  font-family: "ElementalEnd";
  font-weight: 100;
  font-style: normal;
  src: url("./fonts/Elemental-End.ttf");
}

@font-face {
  font-family: "Gear";
  font-weight: 100;
  font-style: normal;
  src: url("./fonts/Gear.ttf");
}

@font-face {
  font-family: "Prida";
  font-weight: 100;
  font-style: normal;
  src: url("./fonts/Prida65.otf");
}

@font-face {
  font-family: "Starworld";
  font-weight: 100;
  font-style: normal;
  src: url("./fonts/StarworldGameCube.ttf");
}

@font-face {
  font-family: "mmac";
  font-weight: 100;
  font-style: normal;
  src: url("./fonts/MakeMeACyborg.otf");
}
