$_inputarea: #3d2970;
$_bordergrey: rgba(234, 236, 246, 0.2);
@import "base";

.vue-pincode-input-wrapper {
  @extend .vue_input_base_wrapper;
}

.vue-pincode-input {
  @extend .vue_input_base;
  background: $_inputarea;
  border: 0.5px solid $_bordergrey;
  font-family: TLED3, 'Open Sans', Helvetica, Arial, sans-serif;
}

.vue-pincode-input:focus {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
