<template>
  <div id="app">
    <price-plan/>
  </div>
</template>
<style lang="scss">
@import "src/presents/priceplan";

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}
</style>

<script>
//import PincodeInput from "./components/codepin/Component.vue"
import PricePlan from "./components/priceplan/Component.vue"

export default {
  name: "App",
  components: {
    PricePlan,

  },
  data: () => ({
    code: "",
    messsage: "",
    iserror: false,
  }),
  methods: {
    triError() {
      let t = this.$refs["fillingpincode"]
      this.iserror = !this.iserror
      t.setError(this.iserror)
    },
    reset() {
      let t = this.$refs["fillingpincode"]
      t.reset()
      //      this.code = ""
    },
  }
}
</script>
